.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

data/raw/*
data/processed/*

artifacts/models/*
artifacts/preprocessors/*
artifacts/results/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!artifacts/models/.gitkeep
!artifacts/preprocessors/.gitkeep
!artifacts/results/.gitkeep
